{% extends 'base/index.html' %}

{% block content %}
<!-- Your existing content here -->

<!-- Semantic UI modal -->
<div class="ui modal active">
    <form class="ui equal width form" method="POST">
        {% csrf_token %}
        <div class="header">
            <h3 class="ui header">Change Password</h3>
            <div class="ui divider"></div>
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="field">
                    {{ pswd_chg_form.old_password.errors }}
                    <label for="{{ pswd_chg_form.old_password.id_for_label }}">Old Password</label>
                    {{ pswd_chg_form.old_password }}
                </div>
                <div class="field">
                    {{ pswd_chg_form.new_password1.errors }}
                    <label for="{{ pswd_chg_form.new_password1.id_for_label }}">New Password</label>
                    {{ pswd_chg_form.new_password1 }}
                </div>
                <div class="field">
                    {{ pswd_chg_form.new_password2.errors }}
                    <label for="{{ pswd_chg_form.new_password2.id_for_label }}">Confirm New Password</label>
                    {{ pswd_chg_form.new_password2 }}
                </div>
            </div>

            <div class="actions" style="padding-top: 10px;">
                <button class="ui button primary" name="save_pswd" role="submit">Save</button>
                <a class="ui button primary" href="/inbox">Cancel</a>
            </div>

        </div>
    </form>
</div>
{% endblock %}