{% load static %}
{% block nav_header %}
<div class="ui tablet computer only padded grid">
  <div class="ui inverted borderless top fixed fluid menu">
    <a class="header item" href="/">
      <img src="{% static 'dist/images/logo.webp' %}" class="ui tiny image" />
      Utilis Pursuit Portal
    </a>

    <div class="right menu">
      {% if user.is_authenticated %}
      <a href="/inbox" class="item">
        <i class="user circle icon" style="visibility: visible;"></i>
        {{ user.first_name}} {{ user.last_name }}
      </a>
      <a class="item" href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a class="item" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}